<?php
$txpcfg['db'] = '{{ textpattern_config.db_name }}';
$txpcfg['user'] = '{{ textpattern_config.db_username }}';
$txpcfg['pass'] = '{{ textpattern_config.db_password }}';
$txpcfg['host'] = '{{ hostvars['mysql'].ansible_host }}';
$txpcfg['table_prefix'] = '';
$txpcfg['txpath'] = '/var/www/html/textpattern';
$txpcfg['dbcharset'] = 'utf8mb4';
// For more customization options, please consult config-dist.php file.
